 

  <div class="modal-header">
    <h4 class="modal-title pull-left"></h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true"><i _ngcontent-aii-c22="" class="mdi mdi-close"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/9ZCUzs2XiJ4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
